/* General Styling */
body {
	width: 100%;
	font-family: "Roboto", sans-serif;
}

/* Header & Main Nav */
.hero.is-danger {
	background-color: red;
}

.logo {
	font-size: 2rem;
	text-transform: uppercase;
	font-family: "Rock Salt", cursive;
	color: white;
}

.navbar {
	margin: 0 auto;
	font-weight: 700;
}

.navbar a {
	color: white;
}

.navbar-item {
	color: white !important;
}

.navbar-item:hover {
	background-color: darkred !important;
}

.button.is-danger.is-inverted {
	border: solid 1px black;
}

.burger {
	color: white;
}

/* Hero Section */
.hero-body {
	height: 90vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("img/hero.jpg") center center no-repeat;
	filter: grayscale(100%);
}

h1 {
	font-size: 65px;
	font-family: "Rock Salt", cursive;
	color: white;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
}

.headings {
	margin-bottom: 2rem;
}

.select {
	margin: 0 25px;
}

.submit-btn {
	margin-top: 30px;
	background-color: red !important;
}

/* Media Queries for responsive design */
@media screen and (max-width: 769px) {
	.hero.is-danger .navbar-menu {
		background-color: red;
	}
	.hero-body {
		padding-top: 10%;
	}

	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 23px;
	}

	.search-parameters {
		width: 80%;
		margin: 0 auto;
	}
	.select {
		margin: 5px 0;
	}
}
